.gameContainer-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  min-width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  cursor: default; }
  .gameContainer-container .gameContainer-content {
    width: 100%;
    height: 100%;
    position: relative;
    background: grey;
    overflow: hidden; }
  .gameContainer-container .disabled-option {
    color: grey; }
  .gameContainer-container .unselected-dropdown {
    color: grey; }
  .gameContainer-container a {
    cursor: pointer; }

.clear {
  float: none;
  clear: both; }

.hero-quality-c {
  font-weight: bolder;
  color: #777777; }

.hero-quality-b {
  font-weight: bolder;
  color: #30A335; }

.hero-quality-a {
  font-weight: bolder;
  color: #3095F0; }

.hero-quality-s {
  font-weight: bolder;
  color: #E0F040; }

.hero-quality-ss {
  font-weight: bolder;
  color: #E034F0; }

.hero-quality-sss {
  font-weight: bolder;
  color: #eb7d07; }
