@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

:export {
  animationMillis: 20; }

.unit-sprite-container {
  display: inline-block; }
  .unit-sprite-container .sprite-grid-unit {
    width: 6vh;
    height: 6vh;
    background-size: 1200%;
    /* Landscape */ }
    @media screen and (orientation: portrait) {
      .unit-sprite-container .sprite-grid-unit {
        /* Portrait styles here */
        width: 6vw;
        height: 6vw; } }
    @media screen and (orientation: landscape) {
      .unit-sprite-container .sprite-grid-unit {
        /* Landscape styles here */
        width: 6vh;
        height: 6vh; } }
