@import '../../style/style.scss';

.header-container {
  .header-bar {
    background-color: $color-gray25;
    border: none;
    border-radius: 0;
		-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
    .header-brand, .navbar-brand {
      color: $color-theme-ll;
    }
    .header-brand:hover, .navbar-brand:hover {
      color: $color-theme-hl;
    }
    .header-link {
      color: $color-theme;
    }
    .header-link:hover, .header-link:focus {
      text-decoration: none;
      color: $color-theme-hl;
    }
  }
  .navbar-inverse .navbar-nav>li>a {
    color: $color-theme;
  }
  .navbar-inverse .navbar-nav>li>a:hover {
    color: $color-theme-hl;
  }
  .navbar-inverse .navbar-nav>li>a:focus {
    color: $color-theme;
  }
}
