.advanture-info-container {
  position: relative;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: left;
  .advanture-positon-info {
    font-size: 20px;
    @media screen and (max-width: 640px) {
      font-size: 14px;
    }
  }
  .advanture-weight-info {
    font-size: 16px;
    @media screen and (max-width: 640px) {
      font-size: 10px;
    }
  }
}
