.create-map-tool-UI-container .tool-bar {
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100vw;
  max-height: 220px;
  background: #2E2E2E; }

.create-map-tool-UI-container .map-box {
  position: absolute;
  top: 0; }

.create-map-tool-UI-container .btn {
  font-size: 14px; }
  @media screen and (max-height: 667px) {
    .create-map-tool-UI-container .btn {
      font-size: 12px; } }

.create-map-tool-UI-container .zoom-btns {
  position: fixed;
  bottom: 10px;
  right: 10px; }
