@import '../../../style/color.scss';

.advanture-map-ui-container {
  background: $color-gray10;
  margin-top: 5vh;

  @media screen and (max-height: 480px) {
    margin-top: 10px;
  }
  .tool-bar {
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 220px;
  }
  .btn {
    font-size: 14px;
    @media screen and (max-height: 667px) {
      font-size: 12px;
    }
  }
  .zoom-btns {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
  .battle-hero-info-box {
    max-width: 70vw;
  }
  .battle-ui-box {
    margin-top: -4vh;
  }
}
