.advanture-map-ui-container {
  background: #2E2E2E; }
  .advanture-map-ui-container .tool-bar {
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 220px; }
  .advanture-map-ui-container .btn {
    font-size: 14px; }
    @media screen and (max-height: 667px) {
      .advanture-map-ui-container .btn {
        font-size: 12px; } }
  .advanture-map-ui-container .zoom-btns {
    position: fixed;
    bottom: 10px;
    right: 10px; }
  .advanture-map-ui-container .info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; }
