.advanture-map-ui-container {
  background: #171717;
  margin-top: 5vh; }
  @media screen and (max-height: 480px) {
    .advanture-map-ui-container {
      margin-top: 10px; } }
  .advanture-map-ui-container .tool-bar {
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    max-height: 220px; }
  .advanture-map-ui-container .btn {
    font-size: 14px; }
    @media screen and (max-height: 667px) {
      .advanture-map-ui-container .btn {
        font-size: 12px; } }
  .advanture-map-ui-container .zoom-btns {
    position: fixed;
    bottom: 10px;
    right: 10px; }
  .advanture-map-ui-container .info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; }
  .advanture-map-ui-container .battle-hero-info-box {
    max-width: 70vw; }
  .advanture-map-ui-container .battle-ui-box {
    margin-top: -4vh; }
