.stronghold-ui-container {
  height: 100%;
  width: 100%;
  position: relative;
  .stronghold-bg {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    img {
      height: 100%;
      width: auto;
    }
  }
  .stronghold-building-container {
    position: relative;
    margin-top: -100vh;
    text-align: left;
    .stronghold-building-content {
      div {
        position: absolute;
      }
      .building-img-container {
        cursor: pointer;
        opacity: 0.6;
        cursor: pointer;
      }
      .building-img-container:hover {
        opacity: 1;
      }
      .building-name-tag-container {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        .building-name-tag {
          margin: 50% 5% 0 5%;
          padding: 10px;
          color: white;
          width: 100%;
          text-shadow: 0 0 5px black;
          text-align: center;
        }
      }
      .building-name-tag-container:hover, .building-name-tag-container:focus, .building-name-tag-container:active {
        opacity: 1;
      }
      .ruin-container {
        transform: scale(0.8);
      }
      .lumber-progress-container {
        height: 10px;
        width: 90%;
        margin-top: 50px;
        .progress {
          width: 100%;
          height: 10px;
          .progress-bar {
            line-height: 10px;
          }
        }
      }

      .cityLord {
        top: 2vh;
        left: 18vh;
        img {
          height: 38vh;
          width: auto;
        }
      }
      .cityHall {
        top: 25vh;
        left: 45vh;
        img {
          height: 36vh;
          width: auto;
        }
      }
      .cityPark {
        top: 46vh;
        left: 76vh;
        img {
          height: 26vh;
          width: auto;
        }
      }
      .blacksmith {
        top: 48vh;
        left: 35vh;
        img {
          height: 20vh;
          width: auto;
        }
      }
      .lumberMill {
        top: 64vh;
        left: 22vh;
        img {
          height: 12vh;
          width: auto;
        }
      }
      .church {
        top: 3vh;
        left: 75vh;
        img {
          height: 46vh;
          width: auto;
        }
      }
      .warehouse {
        top: 32vh;
        left: 8vh;
        img {
          height: 34vh;
          width: auto;
        }
      }
      .tavern {
        top: 58vh;
        left: 62vh;
        img {
          height: 20vh;
          width: auto;
        }
      }
      .merchantShop {
        top: 1vh;
        left: 54vh;
        img {
          height: 26vh;
          width: auto;
        }
      }
      .cityExit {
        top: 83vh;
        left: 44vh;
        img {
          height: 22vh;
          width: auto;
        }
      }
      .living-house {
        top: 0;
        left: 120vh;
        cursor: pointer;
        .living-house1 {
          top: 5vh;
          left: 18vh;
          img {
            height: 26vh;
            width: auto;
          }
        }
        .living-house2 {
          top: 15vh;
          left: 41vh;
          img {
            height: 26vh;
            width: auto;
          }
        }
        .living-house3 {
          top: 54vh;
          left: 15vh;
          img {
            height: 26vh;
            width: auto;
          }
        }
        .living-house4 {
          top: 26vh;
          left: 19vh;
          img {
            height: 26vh;
            width: auto;
          }
        }
        .living-house5 {
          top: 38vh;
          left: -2vh;
          img {
            height: 26vh;
            width: auto;
          }
        }
        .living-house6 {
          top: 40vh;
          left: 36vh;
          img {
            height: 30vh;
            width: auto;
          }
        }
        .living-house7 {
          top: 55vh;
          left: -22vh;
          img {
            height: 27vh;
            width: auto;
          }
        }

      }


    }
  }
  .floating-msg {
    position: absolute;
    top: 50vh;
    width: 100vw;
    text-align: center;
  }
}
