/* You can add global styles to this file, and also import other style files */
.left {
  float: left; }

.right {
  float: right; }

.clear-float:after {
  content: "";
  display: table;
  clear: both; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.top-left {
  position: absolute;
  top: 0;
  left: 0; }

.top-right {
  position: absolute;
  top: 0;
  right: 0; }

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0; }

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0; }

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.modal-backdrop {
  z-index: -1;
  opacity: 0.7; }

.modal-dialog {
  z-index: 1050; }

.gs-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-align: center;
  color: #CCCCCC;
  border: 3px solid #CCCCCC; }

.gs-btn:hover {
  color: #2799f5;
  border-color: #2799f5; }

.gs-btn:active {
  color: #686868;
  border-color: #686868; }

.gs-btn-lg {
  padding: 18px;
  font-size: 28px;
  border-width: 3px;
  border-radius: 8px; }

.gs-btn-md {
  padding: 12px;
  font-size: 20px;
  border-width: 2px;
  border-radius: 5px; }

.gs-btn-sm {
  padding: 8px;
  font-size: 12px;
  border-width: 1px;
  border-radius: 3px; }

.btn-game {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  font-size: 16px;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
  transition: all 0.3s ease-in; }

.btn-raise {
  margin-top: 0;
  margin-bottom: 0; }

.btn-raise:hover {
  margin-top: -3px;
  margin-bottom: 3px; }

.btn-blue {
  background: #148bdb;
  background-image: -webkit-linear-gradient(160deg, #148bdb, #145075);
  background-image: -moz-linear-gradient(160deg, #148bdb, #145075);
  background-image: -ms-linear-gradient(160deg, #148bdb, #145075);
  background-image: -o-linear-gradient(160deg, #148bdb, #145075);
  background-image: linear-gradient(160deg, #148bdb, #145075);
  color: #eeeeee;
  border-color: #1590e2; }

.btn-blue:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(160deg, #3cb0fd, #2a6b96);
  background-image: -moz-linear-gradient(160deg, #3cb0fd, #2a6b96);
  background-image: -ms-linear-gradient(160deg, #3cb0fd, #2a6b96);
  background-image: -o-linear-gradient(160deg, #3cb0fd, #2a6b96);
  background-image: linear-gradient(160deg, #3cb0fd, #2a6b96);
  color: #ffffff;
  border-color: #3eb4fe; }

.btn-black-blue {
  background: #171717;
  color: #CCCCCC;
  border: 2px solid #686868; }

.btn-black-blue:hover {
  background: #193050;
  color: #87fdf1;
  border: 2px solid #2799f5; }

.hide {
  display: none; }

.clearfix {
  float: none !important;
  overflow: auto; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */ }

.warn {
  color: #8b6905; }

.danger {
  color: #a03f36; }

.info {
  color: #1b5070; }

.success {
  color: #17440C; }

.pointer {
  cursor: pointer !important; }

.container {
  width: 100%; }

::-webkit-scrollbar {
  display: none; }

.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.parallax__group {
  position: relative;
  height: 500px;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .parallax__group img {
    width: 100%;
    height: auto; }

.forefront-element {
  -webkit-transform: translateZ(90px) scale(1);
  transform: translateZ(90px) scale(1);
  z-index: 4; }

.base-element {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 3; }

.background-element {
  -webkit-transform: translateZ(-300px) scale(4);
  transform: translateZ(-300px) scale(4);
  z-index: 2; }

.deep-background-element {
  -webkit-transform: translateZ(-600px) scale(8);
  transform: translateZ(-600px) scale(8);
  z-index: 1; }

.bg-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/* The animation code */
@-webkit-keyframes animation-jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes animation-jump {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(0); }
  60% {
    transform: translateY(-10px); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes animation-fadeRightIn {
  0% {
    opacity: 0;
    transform: translate(200px, 0px); }
  60% {
    opacity: 1;
    transform: translate(0px, 0px); }
  80% {
    transform: translate(5px, 0px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@-moz-keyframes animation-fadeRightIn {
  0% {
    opacity: 0;
    -moz-transform: translate(200px, 0px); }
  60% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); }
  80% {
    -moz-transform: translate(5px, 0px); }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); } }

@-webkit-keyframes animation-fadeRightIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(200px, 0px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); }
  80% {
    -webkit-transform: translate(5px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); } }

@-o-keyframes animation-fadeRightIn {
  0% {
    opacity: 0;
    -o-transform: translate(200px, 0px); }
  60% {
    opacity: 1;
    -o-transform: translate(0px, 0px); }
  80% {
    -o-transform: translate(5px, 0px); }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px); } }

@-ms-keyframes animation-fadeRightIn {
  0% {
    opacity: 0;
    -ms-transform: translate(200px, 0px); }
  60% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); }
  80% {
    -ms-transform: translate(5px, 0px); }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); } }

@keyframes animation-fadeRightOut {
  0% {
    opacity: 1;
    transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    transform: translate(-20px, 0px); }
  100% {
    opacity: 0;
    transform: translate(1000px, 0px); } }

@-moz-keyframes animation-fadeRightOut {
  0% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -moz-transform: translate(-20px, 0px); }
  100% {
    opacity: 0;
    -moz-transform: translate(1000px, 0px); } }

@-webkit-keyframes animation-fadeRightOut {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -webkit-transform: translate(-20px, 0px); }
  100% {
    opacity: 0;
    -webkit-transform: translate(1000px, 0px); } }

@-o-keyframes animation-fadeRightOut {
  0% {
    opacity: 1;
    -o-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -o-transform: translate(-20px, 0px); }
  100% {
    opacity: 0;
    -o-transform: translate(1000px, 0px); } }

@-ms-keyframes animation-fadeRightOut {
  0% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -ms-transform: translate(-20px, 0px); }
  100% {
    opacity: 0;
    -ms-transform: translate(1000px, 0px); } }

@keyframes animation-fadeLeftIn {
  0% {
    opacity: 0;
    transform: translate(-200px, 0px); }
  60% {
    opacity: 1;
    transform: translate(0px, 0px); }
  80% {
    transform: translate(-5px, 0px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@-moz-keyframes animation-fadeLeftIn {
  0% {
    opacity: 0;
    -moz-transform: translate(-500px, 0px); }
  60% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); }
  80% {
    -moz-transform: translate(-5px, 0px); }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); } }

@-webkit-keyframes animation-fadeLeftIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-500px, 0px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); }
  80% {
    -webkit-transform: translate(-5px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); } }

@-o-keyframes animation-fadeLeftIn {
  0% {
    opacity: 0;
    -o-transform: translate(-500px, 0px); }
  60% {
    opacity: 1;
    -o-transform: translate(0px, 0px); }
  80% {
    -o-transform: translate(-5px, 0px); }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px); } }

@-ms-keyframes animation-fadeLeftIn {
  0% {
    opacity: 0;
    -ms-transform: translate(-500px, 0px); }
  60% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); }
  80% {
    -ms-transform: translate(-5px, 0px); }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); } }

@keyframes animation-fadeLeftOut {
  0% {
    opacity: 1;
    transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    transform: translate(20px, 0px); }
  100% {
    opacity: 0;
    transform: translate(-500px, 0px); } }

@-moz-keyframes animation-fadeLeftOut {
  0% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -moz-transform: translate(20px, 0px); }
  100% {
    opacity: 0;
    -moz-transform: translate(-500px, 0px); } }

@-webkit-keyframes animation-fadeLeftOut {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -webkit-transform: translate(20px, 0px); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-500px, 0px); } }

@-o-keyframes animation-fadeLeftOut {
  0% {
    opacity: 1;
    -o-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -o-transform: translate(20px, 0px); }
  100% {
    opacity: 0;
    -o-transform: translate(-500px, 0px); } }

@-ms-keyframes animation-fadeLeftOut {
  0% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); }
  20% {
    opacity: 1;
    -ms-transform: translate(20px, 0px); }
  100% {
    opacity: 0;
    -ms-transform: translate(-500px, 0px); } }

@keyframes animation-fadeDownIn {
  0% {
    opacity: 0;
    transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@-moz-keyframes animation-fadeDownIn {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); } }

@-webkit-keyframes animation-fadeDownIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); } }

@-o-keyframes animation-fadeDownIn {
  0% {
    opacity: 0;
    -o-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px); } }

@-ms-keyframes animation-fadeDownIn {
  0% {
    opacity: 0;
    -ms-transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); } }

@keyframes animation-fadeUpIn {
  0% {
    opacity: 0;
    transform: translate(0px, 25px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@-moz-keyframes animation-fadeUpIn {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, 25px); }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px); } }

@-webkit-keyframes animation-fadeUpIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 25px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); } }

@-o-keyframes animation-fadeUpIn {
  0% {
    opacity: 0;
    -o-transform: translate(0px, 25px); }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px); } }

@-ms-keyframes animation-fadeUpIn {
  0% {
    opacity: 0;
    -ms-transform: translate(0px, 25px); }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px); } }

@keyframes animation-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes animation-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes animation-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes animation-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes animation-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animation-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes animation-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes animation-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes animation-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes animation-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animation-snippetTitleHover {
  0% {
    color: #242424; }
  100% {
    color: #27abf5; } }

@keyframes animation-snippetTitleLeft {
  0% {
    color: #27abf5; }
  100% {
    color: #242424; } }

@keyframes animation-grayOutLayerHover {
  0% {
    background-color: rgba(0, 0, 0, 0.6); }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }

@keyframes animation-grayOutLayerLeft {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  100% {
    background-color: rgba(0, 0, 0, 0.6); } }

.snippet-container .snippet-content {
  display: block;
  position: relative;
  margin: 0 0 16px 0;
  border: 1px solid #6B7A8F;
  background: white;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  color: #242424;
  overflow: hidden; }
  .snippet-container .snippet-content .img-left {
    float: left;
    width: 62%;
    height: 100%; }
    .snippet-container .snippet-content .img-left img {
      width: 100%;
      height: 100%; }
  .snippet-container .snippet-content .img-right {
    float: right;
    width: 62%;
    height: 100%; }
    .snippet-container .snippet-content .img-right img {
      width: 100%;
      height: 100%; }
  .snippet-container .snippet-content .img-top {
    display: block;
    width: 100%;
    height: 62%;
    overflow-y: hidden; }
    .snippet-container .snippet-content .img-top img {
      width: 100%;
      height: auto; }
  .snippet-container .snippet-content .img-bottom {
    display: block;
    width: 100%;
    height: 62%;
    overflow-y: hidden;
    position: absolute;
    bottom: 0; }
    .snippet-container .snippet-content .img-bottom img {
      width: 100%;
      height: auto; }
  .snippet-container .snippet-content .img-middle {
    display: block;
    width: 100%;
    height: 62%;
    overflow-y: hidden; }
    .snippet-container .snippet-content .img-middle img {
      width: 100%;
      height: auto; }
  .snippet-container .snippet-content .img-bg {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: hidden; }
    .snippet-container .snippet-content .img-bg img {
      width: 100%;
      height: 100%; }

.snippet-container .snippet-height-sm {
  height: 62vw; }
  @media only screen and (min-width: 768px) {
    .snippet-container .snippet-height-sm {
      height: 31vw; } }
  @media only screen and (min-width: 992px) {
    .snippet-container .snippet-height-sm {
      height: 21vw; } }
  @media only screen and (min-width: 1200px) {
    .snippet-container .snippet-height-sm {
      height: 15vw; } }

.snippet-container .snippet-height-md {
  height: 100vw; }
  @media only screen and (min-width: 768px) {
    .snippet-container .snippet-height-md {
      height: 50vw; } }
  @media only screen and (min-width: 992px) {
    .snippet-container .snippet-height-md {
      height: 33vw; } }
  @media only screen and (min-width: 1200px) {
    .snippet-container .snippet-height-md {
      height: 25vw; } }

.snippet-container .snippet-height-lg {
  height: 150vw; }
  @media only screen and (min-width: 768px) {
    .snippet-container .snippet-height-lg {
      height: 75vw; } }
  @media only screen and (min-width: 992px) {
    .snippet-container .snippet-height-lg {
      height: 50vw; } }
  @media only screen and (min-width: 1200px) {
    .snippet-container .snippet-height-lg {
      height: 37.5vw; } }

.snippet-container .snippet-content {
  cursor: pointer; }
  .snippet-container .snippet-content .title {
    text-align: left;
    font-size: 2em;
    color: #242424;
    cursor: pointer;
    margin-top: 10px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .snippet-container .snippet-content .title:hover {
    animation-name: animation-snippetTitleHover;
    animation-duration: 0.6s;
    color: #27abf5; }
  .snippet-container .snippet-content .sub-title {
    text-align: left;
    color: #848484;
    font-size: 0.8em;
    margin-bottom: 10px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .snippet-container .snippet-content .content {
    margin: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    overflow: hidden; }

.snippet-container .top-content, .snippet-container .bottom-content, .snippet-container .left-content, .snippet-container .right-content {
  margin: 10px; }

.snippet-container .left-content {
  float: left;
  width: calc(38% - 20px); }

.snippet-container .right-content {
  float: right;
  width: calc(38% - 20px); }

.snippet-container .img-inside-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .snippet-container .img-inside-content .img-inside-content-box {
    margin: 10px;
    margin-top: 30%; }
  .snippet-container .img-inside-content .title {
    color: #CCCCCC; }
  .snippet-container .img-inside-content .sub-title {
    color: #B3B3B3; }
  .snippet-container .img-inside-content .content {
    color: #C0C0C0; }

.snippet-container .img-inside-content:hover {
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: animation-grayOutLayerHover;
  animation-duration: 0.6s; }

.snippet-container .img-inside-content {
  animation-name: animation-grayOutLayerLeft;
  animation-duration: 0.6s; }
