@import '../../gameStyle.scss';
@import '../../gameColor.scss';

.map-container {
  text-align: center;
  position: relative;
  overflow: visible;
  margin: auto;
  border: 1px solid gold;

  width: $map-box-vh;
  height: $map-box-vh;

  @media screen and (orientation:portrait) {
   /* Portrait styles here */
   width: $map-box-vw;
   height: $map-box-vw;
  }
  /* Landscape */
  @media screen and (orientation:landscape) {
     /* Landscape styles here */
     width: $map-box-vh;
     height: $map-box-vh;
  }
  .map-reposition {
    position: absolute;
  }
}
.map-layer-container {
  line-height: 0;
  text-align: left;
  .map-line-container {
    width: 10000vw;
    .map-grid-container {
      position: relative;
      display: inline-block;
      .map-grid-unit {
        display: inline-block;
        width: $grid-vh;
        height: $grid-vh;
        @media screen and (orientation:portrait) {
         /* Portrait styles here */
         width: $grid-vw;
         height: $grid-vw;
        }
        /* Landscape */
        @media screen and (orientation:landscape) {
           /* Landscape styles here */
           width: $grid-vh;
           height: $grid-vh;
        }
      }
      .map-grid-overlap-unit {
        position: absolute;
        top: 0;
        left: 0;
      }
      .map-grid-monster-icon {
        background-image: url('/imgs/grid/monsterIcon_sm.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .map-grid-show-grid {
      box-sizing: border-box;
      border: 0.5px solid rgba(125, 255, 215, 0.4);
    }
  }
}

.map-for-battle-container {
  width: $map-battle-box-vh;
  height: $map-battle-box-vh;

  @media screen and (orientation:portrait) {
   /* Portrait styles here */
   width: $map-battle-box-vw;
   height: $map-battle-box-vw;
  }
  /* Landscape */
  @media screen and (orientation:landscape) {
     /* Landscape styles here */
     width: $map-battle-box-vh;
     height: $map-battle-box-vh;
  }

  .map-layer-container {
    .map-line-container {
      .map-grid-container {
        .map-grid-unit {
          display: inline-block;
          width: $grid-battle-vh;
          height: $grid-battle-vh;
          @media screen and (orientation:portrait) {
           /* Portrait styles here */
           width: $grid-battle-vw;
           height: $grid-battle-vw;
          }
          /* Landscape */
          @media screen and (orientation:landscape) {
             /* Landscape styles here */
             width: $grid-battle-vh;
             height: $grid-battle-vh;
          }
        }
      }
    }
  }
}
