@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

.map-container {
  text-align: center;
  position: relative;
  overflow: visible;
  margin: auto;
  border: 1px solid gold;
  width: 90vh;
  height: 90vh;
  /* Landscape */ }
  @media screen and (orientation: portrait) {
    .map-container {
      /* Portrait styles here */
      width: 90vw;
      height: 90vw; } }
  @media screen and (orientation: landscape) {
    .map-container {
      /* Landscape styles here */
      width: 90vh;
      height: 90vh; } }
  .map-container .map-reposition {
    position: absolute; }

.map-layer-container {
  line-height: 0;
  text-align: left; }
  .map-layer-container .map-line-container {
    width: 10000vw; }
    .map-layer-container .map-line-container .map-grid-container {
      position: relative;
      display: inline-block; }
      .map-layer-container .map-line-container .map-grid-container .map-grid-unit {
        display: inline-block;
        width: 6vh;
        height: 6vh;
        /* Landscape */ }
        @media screen and (orientation: portrait) {
          .map-layer-container .map-line-container .map-grid-container .map-grid-unit {
            /* Portrait styles here */
            width: 6vw;
            height: 6vw; } }
        @media screen and (orientation: landscape) {
          .map-layer-container .map-line-container .map-grid-container .map-grid-unit {
            /* Landscape styles here */
            width: 6vh;
            height: 6vh; } }
      .map-layer-container .map-line-container .map-grid-container .map-grid-overlap-unit {
        position: absolute;
        top: 0;
        left: 0; }
      .map-layer-container .map-line-container .map-grid-container .map-grid-monster-icon {
        background-image: url("/imgs/grid/monsterIcon_sm.png");
        background-repeat: no-repeat;
        background-size: contain; }
    .map-layer-container .map-line-container .map-grid-show-grid {
      box-sizing: border-box;
      border: 0.5px solid rgba(125, 255, 215, 0.4); }

.map-for-battle-container {
  width: 78vh;
  height: 78vh;
  /* Landscape */ }
  @media screen and (orientation: portrait) {
    .map-for-battle-container {
      /* Portrait styles here */
      width: 78vw;
      height: 78vw; } }
  @media screen and (orientation: landscape) {
    .map-for-battle-container {
      /* Landscape styles here */
      width: 78vh;
      height: 78vh; } }
  .map-for-battle-container .map-layer-container .map-line-container .map-grid-container .map-grid-unit {
    display: inline-block;
    width: 6.5vh;
    height: 6.5vh;
    /* Landscape */ }
    @media screen and (orientation: portrait) {
      .map-for-battle-container .map-layer-container .map-line-container .map-grid-container .map-grid-unit {
        /* Portrait styles here */
        width: 6.5vw;
        height: 6.5vw; } }
    @media screen and (orientation: landscape) {
      .map-for-battle-container .map-layer-container .map-line-container .map-grid-container .map-grid-unit {
        /* Landscape styles here */
        width: 6.5vh;
        height: 6.5vh; } }
