@import url(./terrain/grass.css);
@import url(./terrain/dryMud.css);
@import url(./terrain/sand.css);
@import url(./terrain/stone.css);
@import url(./terrain/ice.css);
@import url(./terrain/fire.css);
@import url(./terrain/waterDeep.css);
@import url(./terrain/waterShallow.css);
@import url(./tree.css);
@import url(./road.css);
@import url(./building.css);
.map-texture {
  display: inline-block;
  width: 9.09090909vh;
  height: 9.09090909vh;
  /* Landscape */ }
  @media screen and (orientation: portrait) {
    .map-texture {
      /* Portrait styles here */
      width: 9.09090909vw;
      height: 9.09090909vw; } }
  @media screen and (orientation: landscape) {
    .map-texture {
      /* Landscape styles here */
      width: 9.09090909vh;
      height: 9.09090909vh; } }

.mud {
  background-size: 1600%;
  background-image: url("/imgs/grid/ground_texture2.png");
  background-position: 70% 30%; }

.mud003 {
  background-position: -200% 0; }

.mud004 {
  background-position: -300% 0; }

.mud005 {
  background-position: -400% 0; }

.stone001 {
  background-size: 1600%;
  background-image: url("/imgs/grid/ground_texture2.png");
  background-position: 6.25% 0; }

.stone002 {
  background-position: -100% -300%; }

.stone003 {
  background-position: -200% -300%; }

.stone004 {
  background-position: -300%  -300%; }

.stone005 {
  background-position: -400% -300%; }
