@import './terrain/grass.css';
@import './terrain/dryMud.css';
@import './terrain/sand.css';
@import './terrain/stone.css';
@import './terrain/ice.css';
@import './terrain/fire.css';
@import './terrain/waterDeep.css';
@import './terrain/waterShallow.css';
@import './tree.css';
@import './road.css';
@import './building.css';



.map-texture {
  display: inline-block;
  width: 9.09090909vh;
  height: 9.09090909vh;
  @media screen and (orientation:portrait) {
   /* Portrait styles here */
   width: 9.09090909vw;
   height: 9.09090909vw;
  }
  /* Landscape */
  @media screen and (orientation:landscape) {
     /* Landscape styles here */
     width: 9.09090909vh;
     height: 9.09090909vh;
  }
}

.mud {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 70% 30%;
}
.mud003 {
  background-position: -200% 0;
}
.mud004 {
  background-position: -300% 0;
}
.mud005 {
  background-position: -400% 0;
}

.stone001 {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 6.25% 0;
}
.stone002 {
  background-position: -100% -300%;
}
.stone003 {
  background-position: -200% -300%;
}
.stone004 {
  background-position: -300%  -300%;
}
.stone005 {
  background-position: -400% -300%;
}
