.animationItem-container {
  width: 100%;
  position: relative; }

.animationItem-content {
  width: 100%;
  padding: 10px; }
  .animationItem-content .animation-area {
    width: 100%;
    padding: 20px;
    background-color: #404040;
    text-align: left; }
  .animationItem-content .animation-input-area {
    background-color: #494949; }
    .animationItem-content .animation-input-area .animation-control-panel {
      text-align: left;
      font-size: 16px; }
