.battle-info-container {
  border-radius: 5px;
  border: 1px solid gold;
  margin: 10px 10px 10px 2vw;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 68vw;
  height: 122px;
  overflow: auto;
}

  .battle-info-box {
    max-width: 70vw;
  }
