.battle-ui-container {
  max-width: 100vw;
  max-height: 100vh;
}

.battle-ui-container .battle-info-box {
  width: 70vw;
  display: inline-block;
}

.battle-ui-container .battle-grid-info-box {
  float: right;
}

.battle-ui-container .battle-info-display-section {
  position: absolute;
  bottom: 20px;
  margin: auto;
  width: 100vw;
  min-width: 320px;
}
