@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

.hero-grid-unit {
  width: 6vh;
  height: 6vh;
  background-size: 1200%;
  /* Landscape */
  background-size: 1200%; }
  @media screen and (orientation: portrait) {
    .hero-grid-unit {
      /* Portrait styles here */
      width: 6vw;
      height: 6vw; } }
  @media screen and (orientation: landscape) {
    .hero-grid-unit {
      /* Landscape styles here */
      width: 6vh;
      height: 6vh; } }

.battle-ui-container {
  max-width: 100vw;
  max-height: 100vh; }
  .battle-ui-container .battle-map-box {
    width: 100%;
    text-align: center; }
  .battle-ui-container .battle-info-box {
    width: 70vw;
    display: inline-block; }
  .battle-ui-container .battle-grid-info-box {
    float: right; }
  .battle-ui-container .battle-info-display-section {
    position: absolute;
    bottom: 20px;
    margin: auto;
    width: 100vw;
    min-width: 320px; }
