@import '../../../../../gameColor.scss';

.hero-info-box-container {
  margin: 5px;
  border: 1px solid $color-gray40;
  display: inline-block;
  .hero-info-name {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
