
.stone {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 30% 49%;
}
.stone-left-edge {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 27% 49%;
}
.stone-right-edge {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 33.6% 49%;
}
.stone-top-edge {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 30% 46.7%;
}
.stone-bottom-edge {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 30% 53.3%;
}
.stone-top-left {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 27% 46.7%;
}
.stone-top-right {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 33.6% 46.7%;
}
.stone-bottom-left {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 27% 53.3%;
}
.stone-bottom-right {
  background-size: 1600%;
  background-image: url('/imgs/grid/ground_texture2.png');
  background-position: 33.6% 53.3%;
}
