.page-404-container {
  font-size: 2em;
  .title {
    font-size: 15vw;
    margin: 20vh 0 0 0;
  }
  .sub-title {
    margin: 0 0 10vh 0;
    font-size: 2em;
  }
  .home-page-btn {
    margin-top: 6vh;
    a {
      padding: 10px 40px;
      font-size: 25px;
    }
  }
}
